@model Eventos.Models.Soporte

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Soporte</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre_Soporte)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre_Soporte)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.email_Soporte)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.email_Soporte)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.contraseña_Soporte)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.contraseña_Soporte)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
