@model Eventos.Models.Evento

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Evento</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre_evento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre_evento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion_evento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion_evento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fecha_Evento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fecha_Evento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.hora_evento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.hora_evento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.espacios_evento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.espacios_evento)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
