@model IEnumerable<Eventos.Models.Evento>

@{
    ViewData["Title"] = "Index";
}
<link href="~/css/estiloadmin.css" rel="stylesheet" />


   
<div id="TablaEvento" class="row">

    <div style="background-color:white;text-align:end;width:fit-content;border-radius:20px; align-content:center; margin-top:5%; margin-left:3%">
        <a href="~/cat_evento/Index"> Ver Categorias </a>
    </div>


<p style="margin-top:5%; margin-left:85%; margin-bottom:50%;background-color:white" >
        <a asp-action="Create" style="padding:1%; text-decoration:none">Crear nuevo</a>
</p>
<table class="table" style="margin-left:4%; margin-right:20%; margin-top:-45%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre_evento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion_evento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fecha_Evento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.hora_evento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.espacios_evento)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre_evento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion_evento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fecha_Evento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.hora_evento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.espacios_evento)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>