@model IEnumerable<Eventos.Models.Evento>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre_evento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion_evento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fecha_Evento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.hora_evento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.espacios_evento)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre_evento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion_evento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fecha_Evento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.hora_evento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.espacios_evento)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
