@model Eventos.Models.Administrador

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Administrador</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre_Adm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre_Adm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.email_Adm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.email_Adm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.contraseña_Adm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.contraseña_Adm)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
