@model IEnumerable<Eventos.Models.Administrador>

@{
    ViewData["Title"] = "Index";
}
<link href="~/css/estiloadmin.css" rel="stylesheet" />
<script src="~/javascript/menuadm.js"></script>
<div id="AdmIndex">


<p style="margin-top:6%; margin-left:3%">
        <a asp-action="Create" style="border-radius:20px; border:none; background-color:white; position:absolute" >Crear nuevo</a>
</p>
    <button id="botonOpciones" style="border-radius:20px; border:none; margin-left:85%; margin-right:1%; margin-top:1%; position:absolute " onclick=" mostrarBotones()">Mostrar Opciones</button>
    <br />
  
    <div id="botones" style="display:none; margin-left:85%; position:absolute; align-content:center">
        <br id="botones" style="margin-left:90%; display:none; align-content:center">
        <br />
      
        <br />
        <div style="background-color:white;text-align:end;width:fit-content;border-radius:20px; align-content:center">
            <a href="~/Soporte/Index"> Soporte </a>
        </div>
        <br />
        <div style="background-color:white;text-align:end;width:fit-content;border-radius:20px; align-content:center">
            <a href="~/Usuarios/Index"> Usuarios </a>
        </div>
    </div>

    <table class="table" id="tablaAdm" style="margin-left:1%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre_Adm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.email_Adm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.contraseña_Adm)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre_Adm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email_Adm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.contraseña_Adm)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>